- [4, 5, 6, 7, 6, 4].each do |number|
  - number.times do
    img class="center_pile" style="transform: rotate(#{rand(360)}deg)" width=71 height=96 src="cards/backs_custom.jpg" alt="custom card back"
  br
