.App {
  /* text-align: center; */
}

.App-join {
  text-align: center;
}

.loader-container {
  margin-left: 45%;
}
.loader {
  margin-left: -50px;
  border-top: 50px solid #dce800;
  border-bottom: 50px solid #3ea826;
  border-right: 50px solid #3b6ec6;
  border-left: 50px solid #ff9000;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: spin 0.5s linear infinite;
}

p {
  font-size: 30px;
}

.closser-to-gether {
  margin-bottom: -30px;
}

.less-top-margin {
  margin-top: -20px;
}

.further-from {
  margin-top: 50px;
}

.less-top-margin {
  margin-top: -20px;
}

.more-margin-bottom {
  margin-bottom: 30px;
}

.book {
  margin-top: -20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #227755;
  height: 150px;
  padding: 20px;
  color: #442200;
  text-align: center;
}

.endGame {
  text-align: center;
}

.playing-space {
  text-align: center;
  height: 96px;
}

.hand {
  margin-left: -60px;
  width: 71px;
}

.highlight {
  border: 2px solid blue;
  border-radius: 7px;

}

.center-cards {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
}
.center-cards img {
  width: 71px;
  margin-left: -64px;
}

.holder {
  margin-top: -15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.bot {
  text-align: center;
  width : 190px;
  margin: 0 20px 10px 20px;
  display : inline-block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.log {
  background-color: lightgrey;
  float: bottom;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: -350px;
  border: 3px solid grey;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -40px;
}

.submit {
  font-size: 40px;
  background-color: #227755;
}

.inbetween-match {
  margin-right: 10px;
}

.matches {
  display: inline;
}

.match {
  width: 45px;
  margin-left: -37px;
}

.player {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
